.header, .header-links, .header-advanced-logo, .header-advanced {
    display: flex;
    align-items: center;
}

.header a, .header-links a, .header-advanced-logo a, .header-advanced a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.header-advanced {
    background-color: #f1f1f1;
    height: 50px;
}

.header-advanced-logo {
    padding: 10px;
}

.header-advanced-logo img {
    height: 30px;
}

.header-links {
    margin-left: auto;
}